apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shared-services-staging
resources:
  - ../base
commonLabels:
  colinmac.dev/cost-center: "001"
  colinmac.dev/business-impact: "Low"
  colinmac.dev/revenue-impact: "Medium"
patchesStrategicMerge:
  - patch-demo-api.yaml