apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: shared-services
resources:
  - ../base
patches:
  - patch: |-
      - op: add
        path: /spec/targetNamespace
        value: shared-services
    target:
      kind: HelmRelease